/*.wpmm-sub-menu-wrap .wpmm_megamenu_bottomcontent {
    display: none;
}

.wpmm-sub-menu-wrap .wpmm_megamenu_topcontent {
    display: none;
}*/

.wp-mega-menu-link {
    cursor: pointer;
}
 
.wpmm-sub-menu-wrap.wpmm-open{
    display: block;
}
.wpmm-fade-in{
    display: block;
}   
.wpmega-enabled-mobile-menu .wpmm-mega-wrapper.hide-menu{
	display: none;
}
.wp-mega-toggle-block{
cursor: pointer;
}
/*#mega-menu-wrap-demo_navigation .mega-menu-toggle .mega-toggle-block-1::before{
	  color: #fff;
    content: "";
    font-family: "dashicons";
    font-size: 24px;
    margin: 0 0 0 5px;
}*/
.wpmega-openblock{
	display: block;
}
.wp-megamenu-main-wrapper .wpmega-responsive-closebtn{
    display: none;
}